
:root {
    /* Colores principales */
    --color-primary: #A2F5A6;
    --color-secondary: #A3F7E0;
    --color-accent: #A2F5C1;
    --color-background: #C0F5A2;
    --color-text: #A2F1F5;
    --color-highlight: #B7F7D0;
  
    /* Tamaños de letra */
    --font-size-small: 20px;
    --font-size-medium: 30px;
    --font-size-large: 40px;
    --font-size-xlarge: 50px;
  }