/* Reset general para evitar inconsistencias entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Definición de fuentes */
  body {
    font-family: 'Arial', sans-serif; /* Tipo de fuente predeterminado */
    line-height: 1.6; /* Espaciado entre líneas */
    font-size: 16px; /* Tamaño de fuente base */
    color: #333; /* Color de texto principal */
    background-color: #e8eaf6; /* Color de fondo */
  }
  
  /* Títulos */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif; /* Fuente para títulos */
    color: #2c3e50; /* Color para títulos */
    margin-bottom: 10px;
  }
  
  /* Espaciado de párrafos */
  p {
    margin-bottom: 15px; /* Espacio inferior entre párrafos */
  }
  
  /* Espaciado de listas */
  ul, ol {
    margin-left: 20px;
    margin-bottom: 15px;
  }
  
  /* Estilo para enlaces */
  a {
    text-decoration: none;
    color: #3498db; /* Color para enlaces */
  }
  
  a:hover {
    color: #2980b9; /* Color de enlace en hover */
  }
  
  /* Definición de colores principales */
  :root {
    --primary-color: #5c6bc0; 
    --secondary-color: #7986cb; 
    --tertiary-color: #9fa8da;
    --quaternary-color: #c5cae9;
    --background-color: #e8eaf6; 
    --text-color: #333; 
  }
  
  /* Estilo para botones */
  button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }

  .combo-box {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 8px;
    width: 400px;
    padding: 10px;
    margin: 10px 0;
}

.combo-box:hover{
    background-color: var(--secondary-color);
}
  
  /* Margen general */
  .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
  }
  