.advanced-options {
    display: none;
    margin-top: 20px;
}

.advanced-options.show {
    display: block;
}

.layout {
    display: flex;
    height: 100vh;;
}

.left-container {
    width: 50vw;
    background-color:#9fa8da;
    padding: 20px;
}

.right-container {
    flex-grow: 1;
    padding: 20px; 
    display: flex;
    margin-left: 100px;  
    flex-direction: column;    /* Stack content vertically */
    justify-content: center;    /* Vertically center the content */
    align-items: left;  
    gap: 10px;                 /* Adds space between stacked items */
    background-color: #e8eaf6
  }
