.token-manager-page {
  background-color: var(--color-four);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.SectionContainer {
  margin-top: 115px;
  
}

.SectionContainer > div { 
  width: 100%;
}
